In [2]:
import pandas as pd
import numpy as np

import os
import sys
sys.path.append(os.path.abspath('../'))

from src.data.utility import DataReader, BeerData

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
# Instantiate the custom data reader class
data_reader = DataReader()
# Load Raw Train Data
train_df = data_reader.read_data(BeerData.RAW)

In [6]:
train_df.info()

### View Original Data

In [10]:

train_df.shape

(1586614, 13)

### Exmine NULL values

In [4]:
train_df.isna().sum()

brewery_id                0
brewery_name             15
review_time               0
review_overall            0
review_aroma              0
review_appearance         0
review_profilename      348
beer_style                0
review_palate             0
review_taste              0
beer_name                 0
beer_abv              67785
beer_beerid               0
dtype: int64

In [11]:
### Exmine How many row has missing brewy names
brew_name_null = train_df[train_df['brewery_name'].isnull()]
brew_name_null
## 15 rows missing for brewy-names 1193 x 9 and 27 X 6

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
651565,1193,NaN,1301022066,2.0,2.5,2.5,Knapp85,Vienna Lager,1.5,1.5,Engel Tyrolian Br√§u WRONG BREWERY SEE SCHWABIS...,5.0,67503
659293,1193,NaN,1290107698,4.0,4.5,3.5,dqrull,Bock,4.0,3.5,Engel Bock Dunkel WRONG BREWERY SEE CRAILSHEIMER,7.2,63658
659299,1193,NaN,1289077001,3.5,3.0,3.0,dqrull,Dortmunder / Export Lager,4.0,4.0,Engel Gold WRONG BREWERY SEE CRAILSHEIMER,5.4,63215
659300,1193,NaN,1289851033,3.5,4.0,3.5,dqrull,Munich Helles Lager,3.5,3.0,Engel Landbier WRONG BREWERY SEE CRAILSHEIMER,4.8,63557
659301,1193,NaN,1289158632,3.5,4.0,4.0,dqrull,Keller Bier / Zwickel Bier,4.0,3.5,Engel Keller Hell WRONG BREWERY SEE CRAILSHEIMER,5.4,63256
659302,1193,NaN,1289590065,3.5,4.0,3.0,dqrull,Vienna Lager,3.0,3.5,Engel Aloisius - WRONG BREWERY SEE CRAILSHEIMER,5.9,63459
659303,1193,NaN,1298078926,3.0,3.0,3.0,Ochsenblut,Keller Bier / Zwickel Bier,2.0,3.0,Engel Keller Dunkel WRONG BREWERY SEE CRAILSH...,5.3,63324
659304,1193,NaN,1292423271,4.5,4.0,4.0,Dentist666,Keller Bier / Zwickel Bier,4.0,4.5,Engel Keller Dunkel WRONG BREWERY SEE CRAILSH...,5.3,63324
659305,1193,NaN,1289329962,3.5,3.5,4.0,dqrull,Keller Bier / Zwickel Bier,4.0,4.0,Engel Keller Dunkel WRONG BREWERY SEE CRAILSH...,5.3,63324
1391043,27,NaN,1020244856,3.5,3.5,3.5,Jason,American Adjunct Lager,4.0,3.5,Hard Hat American Beer,3.8,60
1391049,27,NaN,1143182956,2.5,2.0,2.0,BeerBob,American Malt Liquor,2.0,2.0,Side Pocket,8.5,3394
1391050,27,NaN,1117963232,1.5,1.5,2.0,feloniousmonk,American Malt Liquor,1.5,1.5,Side Pocket,8.5,3394
1391051,27,NaN,1323314674,4.5,4.5,3.5,ccrida,American IPA,4.5,4.5,Breakaway IPA,7.2,75135
1391052,27,NaN,1320989774,3.5,4.0,3.5,Docer,American IPA,4.0,4.0,Breakaway IPA,7.2,75135
1391053,27,NaN,1320995408,5.0,4.5,4.0,Docer,American Stout,4.5,4.5,Caboose Oatmeal Stout,7.0,75137

In [12]:
### Drop the rows if "brewy_name" is NULL
### Select only non-null value of brewry_name
df_cleaned = train_df.copy()
df_cleaned = df_cleaned[df_cleaned['brewery_name'].notnull()]
df_cleaned.shape

(1586599, 13)

In [13]:
#df_cleaned = train_df.copy()
col_to_drop = ['beer_beerid', 'brewery_id', "review_profilename", "beer_name"]
target_column = 'beer_style'
# col_to_drop = ['brewery_name', 'review_profilename', 'beer_name', 'beer_style']
df_cleaned = df_cleaned.drop(col_to_drop, axis = 1)

#df_cleaned.head()
df_cleaned.isna().sum()

brewery_name             0
review_time              0
review_overall           0
review_aroma             0
review_appearance        0
beer_style               0
review_palate            0
review_taste             0
beer_abv             67785
dtype: int64

In [15]:
df_cleaned.describe()

,review_time,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv
count,1.586599e+06,1.586599e+06,1.586599e+06,1.586599e+06,1.586599e+06,1.586599e+06,1.518814e+06
mean,1.224089e+09,3.815584e+00,3.735638e+00,3.841647e+00,3.743705e+00,3.792864e+00,7.042396e+00
std,7.654410e+07,7.206191e-01,6.976142e-01,6.160899e-01,6.822131e-01,7.319658e-01,2.322532e+00
min,8.406720e+08,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e-02
25%,1.173224e+09,3.500000e+00,3.500000e+00,3.500000e+00,3.500000e+00,3.500000e+00,5.200000e+00
50%,1.239202e+09,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,6.500000e+00
75%,1.288568e+09,4.500000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.500000e+00,8.500000e+00
max,1.326285e+09,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.770000e+01

### Label Encoding to Target Column

In [16]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df_cleaned['beer_style_encoded'] = le.fit_transform(df_cleaned['beer_style'])


df_cleaned['brewery_name_encoded'] = le.fit_transform(df_cleaned['brewery_name'])
df_cleaned.head()

,brewery_name,review_time,review_overall,review_aroma,review_appearance,beer_style,review_palate,review_taste,beer_abv,beer_style_encoded,brewery_name_encoded
0,Vecchio Birraio,1234817823,1.5,2.0,2.5,Hefeweizen,1.5,1.5,5.0,65,5438
1,Vecchio Birraio,1235915097,3.0,2.5,3.0,English Strong Ale,3.0,3.0,6.2,51,5438
2,Vecchio Birraio,1235916604,3.0,2.5,3.0,Foreign / Export Stout,3.0,3.0,6.5,59,5438
3,Vecchio Birraio,1234725145,3.0,3.0,3.5,German Pilsener,2.5,3.0,5.0,61,5438
4,Caldera Brewing Company,1293735206,4.0,4.5,4.0,American Double / Imperial IPA,4.0,4.5,7.7,9,1480
...,...,...,...,...,...,...,...,...,...,...,...
1586609,The Defiant Brewing Company,1162684892,5.0,4.0,3.5,Pumpkin Ale,4.0,4.0,5.2,85,5128
1586610,The Defiant Brewing Company,1161048566,4.0,5.0,2.5,Pumpkin Ale,2.0,4.0,5.2,85,5128
1586611,The Defiant Brewing Company,1160702513,4.5,3.5,3.0,Pumpkin Ale,3.5,4.0,5.2,85,5128
1586612,The Defiant Brewing Company,1160023044,4.0,4.5,4.5,Pumpkin Ale,4.5,4.5,5.2,85,5128
1586613,The Defiant Brewing Company,1160005319,5.0,4.5,4.5,Pumpkin Ale,4.5,4.5,5.2,85,5128

In [93]:
df_cleaned['beer_style_encoded'].value_counts().reset_index()

     index  beer_style_encoded
0       12              117584
1        9               85977
2       14               63469
3       89               54129
4       11               50705
..     ...                 ...
99      62                 686
100     56                 609
101     88                 466
102     72                 297
103     64                 241

[104 rows x 2 columns]

### Drop the Beer_Style column

In [17]:
beer_style = df_cleaned.pop('beer_style')
brewery_name = df_cleaned.pop('brewery_name')
df_cleaned.head()

,review_time,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv,beer_style_encoded,brewery_name_encoded
0,1234817823,1.5,2.0,2.5,1.5,1.5,5.0,65,5438
1,1235915097,3.0,2.5,3.0,3.0,3.0,6.2,51,5438
2,1235916604,3.0,2.5,3.0,3.0,3.0,6.5,59,5438
3,1234725145,3.0,3.0,3.5,2.5,3.0,5.0,61,5438
4,1293735206,4.0,4.5,4.0,4.0,4.5,7.7,9,1480

In [95]:
df_cleaned['brewery_name_encoded'].value_counts().reset_index()
#np.unique(df_cleaned[['brewery_name_encoded']])

      index  brewery_name_encoded
0       701                 39444
1      1963                 33839
2      4950                 33066
3      4743                 28751
4       413                 25191
...     ...                   ...
5737    398                     1
5738   1148                     1
5739   4027                     1
5740   4497                     1
5741   3684                     1

[5742 rows x 2 columns]

In [43]:
from src.data.sets import split_sets_random, save_sets, load_sets

target_column_new = 'beer_style_encoded'
X_train, y_train, X_val, y_val, X_test, y_test = split_sets_random(df_cleaned, target_column_new, test_ratio=0.4, to_numpy=False)
save_sets(X_train, y_train, X_val, y_val, X_test, y_test)

In [91]:
#len(X_train[0])
y_val

1183732    60
1151395    89
205810     24
1296955    12
916245     74
           ..
460534     89
1144363    25
1260331    26
48395      14
1575590    94
Name: beer_style_encoded, Length: 634640, dtype: int32

### Scaling

In [108]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
num_cols = ['review_time', 'review_overall', 'review_aroma', 'review_appearance', 'review_palate', 'review_taste', 'beer_abv']

X_train_copy = X_train.copy()
X_val_copy = X_val.copy()
X_test_copy = X_test.copy()

In [109]:
X_train_scaled = sc.fit_transform(X_train_copy[num_cols])
X_train_scaled = pd.DataFrame(X_train_scaled, columns=num_cols)
#X_train_scaled.head()

X_val_scaled = sc.fit_transform(X_val_copy[num_cols])
X_val_scaled = pd.DataFrame(X_val_scaled, columns=num_cols)
X_val_scaled.head()

X_test_scaled = sc.fit_transform(X_test_copy[num_cols])
X_test_scaled = pd.DataFrame(X_test_scaled, columns=num_cols)

In [110]:
X_train_scaled['brewery_name_encoded'] = X_train_copy['brewery_name_encoded']

X_val_scaled['brewery_name_encoded'] = X_val_copy['brewery_name_encoded']

X_test_scaled['brewery_name_encoded'] = X_test_copy['brewery_name_encoded']

In [111]:
X_val_scaled.head()

,review_time,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv,brewery_name_encoded
0,0.755705,-1.823946,0.381074,0.258879,-1.085818,-1.082030,1.273447,5438.0
1,1.025282,0.256091,-0.335143,0.258879,0.378039,0.283906,0.585467,5438.0
2,0.419448,-0.437254,0.381074,-0.551562,-0.353889,-0.399062,-0.231509,5438.0
3,-1.363937,0.949437,0.381074,1.069320,1.109968,0.966873,-0.360505,5438.0
4,0.567268,-1.823946,1.097291,-0.551562,-0.353889,0.283906,-1.091483,NaN

### One Hot Encoding

In [112]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse=False)

# X_train_cat_enc = pd.DataFrame(ohe.fit_transform(X_train_scaled[['brewery_name_encoded']]))
# X_train_cat_enc.columns = ohe.get_feature_names(['brewery_name_encoded'])


X_val_cat_enc = pd.DataFrame(ohe.fit_transform(X_val_scaled[['brewery_name_encoded']]))
X_val_cat_enc.columns = ohe.get_feature_names(['brewery_name_encoded'])


# X_test_cat_enc = pd.DataFrame(ohe.fit_transform(X_test_scaled[['brewery_name_encoded']]))
# X_test_cat_enc.columns = ohe.get_feature_names(['brewery_name_encoded'])

In [113]:

# Drop the original columns
# X_train_scaled.drop('brewery_name_encoded', axis = 1, inplace=True)
# X = pd.concat([X_train_scaled, X_train_cat_enc], axis=1)

X_train_scaled.drop('brewery_name_encoded', axis = 1, inplace=True)
X_val = pd.concat([X_val_scaled, X_val_cat_enc], axis=1)

# X_val_scaled.drop('brewery_name_encoded', axis = 1, inplace=True)
# X_val = pd.concat([X_val_scaled, X_val_cat_enc], axis=1)

In [115]:
X_val.head()

,review_time,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv,brewery_name_encoded,brewery_name_encoded_2.0,brewery_name_encoded_4.0,...,brewery_name_encoded_5712.0,brewery_name_encoded_5716.0,brewery_name_encoded_5719.0,brewery_name_encoded_5720.0,brewery_name_encoded_5721.0,brewery_name_encoded_5722.0,brewery_name_encoded_5725.0,brewery_name_encoded_5728.0,brewery_name_encoded_5735.0,brewery_name_encoded_nan
0,0.755705,-1.823946,0.381074,0.258879,-1.085818,-1.082030,1.273447,5438.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.025282,0.256091,-0.335143,0.258879,0.378039,0.283906,0.585467,5438.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.419448,-0.437254,0.381074,-0.551562,-0.353889,-0.399062,-0.231509,5438.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-1.363937,0.949437,0.381074,1.069320,1.109968,0.966873,-0.360505,5438.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.567268,-1.823946,1.097291,-0.551562,-0.353889,0.283906,-1.091483,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [253]:
from src.data.sets import split_sets_by_time, save_sets, load_sets

X_train, y_train, X_val, y_val, X_test, y_test = load_sets(path="../data/processed/")

np.unique(y_train)

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103])

### Load Pytorch Dataset

In [116]:
from src.models.pytorch import PytorchDataset

train_dataset = PytorchDataset(X=X, y=y_train)
val_dataset = PytorchDataset(X=X_val, y=y_val)
#test_dataset = PytorchDataset(X=X_test, y=y_test)

MemoryError:

### Baseline Model

In [256]:
from src.models.null import NullModel

base_model = NullModel(target_type="classification")
y_base = base_model.fit_predict(y_train)
y_base

array([[12],
       [12],
       [12],
       ...,
       [12],
       [12],
       [12]])

In [257]:
from src.models.performance import print_reg_perf
print_reg_perf(y_base, y_train, set_name='Training')

RMSE Training: 1998.7384057506679
MAE Training: 32.40324005550659

In [74]:


X.shape[1]

785

In [73]:
import torch
import torch.nn as nn
from src.models.pytorch import PytorchMultiClass
import torch.nn.functional as F
%load_ext autoreload
%autoreload 2

model = PytorchMultiClass(X.shape[1])

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [75]:
from src.models.pytorch import get_device
device = get_device()
model.to(device)

PytorchMultiClass(
  (layer_1): Linear(in_features=785, out_features=20, bias=True)
  (layer_out): Linear(in_features=20, out_features=104, bias=True)
  (softmax): Softmax(dim=1)
)

In [79]:
criterion = nn.CrossEntropyLoss()
optimizer = torch.optim.Adam(model.parameters(), lr=0.1)

In [80]:
from src.models.pytorch import train_classification, test_classification

N_EPOCHS = 10
BATCH_SIZE = 32

for epoch in range(N_EPOCHS):
    train_loss, train_acc = train_classification(train_dataset, model=model, criterion=criterion, optimizer=optimizer, batch_size=BATCH_SIZE, device=device)
    #valid_loss, valid_acc = test_classification(val_dataset, model=model, criterion=criterion, batch_size=BATCH_SIZE, device=device)

    print(f'Epoch: {epoch}')
    print(f'\t(train)\t|\tLoss: {train_loss:.4f}\t|\tAcc: {train_acc * 100:.1f}%')
    #print(f'\t(valid)\t|\tLoss: {valid_loss:.4f}\t|\tAcc: {valid_acc * 100:.1f}%')

Epoch: 0
	(train)	|	Loss: nan	|	Acc: 0.5%
Epoch: 1
	(train)	|	Loss: nan	|	Acc: 0.5%
Epoch: 2
	(train)	|	Loss: nan	|	Acc: 0.5%
Epoch: 3
	(train)	|	Loss: nan	|	Acc: 0.5%
Epoch: 4
	(train)	|	Loss: nan	|	Acc: 0.5%
Epoch: 5
	(train)	|	Loss: nan	|	Acc: 0.5%
Epoch: 6
	(train)	|	Loss: nan	|	Acc: 0.5%
Epoch: 7
	(train)	|	Loss: nan	|	Acc: 0.5%
Epoch: 8
	(train)	|	Loss: nan	|	Acc: 0.5%
Epoch: 9
	(train)	|	Loss: nan	|	Acc: 0.5%

In [194]:
test_loss, test_acc =  test_classification(test_dataset, model=model, criterion=criterion, batch_size=BATCH_SIZE, device=device)
print(f'\tLoss: {test_loss:4f}\t | \tAccuracy:{test_acc:.1f}')

	Loss:  nan	 | 	Accuracy:0.0