In [1]:
import pandas as pd
import numpy as np

import os
import sys
sys.path.append(os.path.abspath('../'))

from src.data.utility import DataReader, BeerData

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

%load_ext autoreload
%autoreload 2

In C:\Hnin\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Hnin\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Hnin\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In C:\Hnin\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Hnin\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Hnin\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Hnin\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Hnin\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
C:\Hnin\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
# Instantiate the custom data reader class
data_reader = DataReader()
# Load Raw Train Data
train_df = data_reader.read_data(BeerData.RAW)

In [6]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1586614 entries, 0 to 1586613
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   brewery_id          1586614 non-null  int64
 1   brewery_name        1586599 non-null  object
 2   review_time         1586614 non-null  int64
 3   review_overall      1586614 non-null  float64
 4   review_aroma        1586614 non-null  float64
 5   review_appearance   1586614 non-null  float64
 6   review_profilename  1586266 non-null  object
 7   beer_style          1586614 non-null  object
 8   review_palate       1586614 non-null  float64
 9   review_taste        1586614 non-null  float64
 10  beer_name           1586614 non-null  object
 11  beer_abv            1518829 non-null  float64
 12  beer_beerid         1586614 non-null  int64
dtypes: float64(6), int64(3), object(4)
memory usage: 157.4+ MB

### View Original Data

In [7]:

train_df.shape

(1586614, 13)

### Exmine NULL values

In [43]:
train_df.isna().sum()

brewery_id                0
brewery_name             15
review_time               0
review_overall            0
review_aroma              0
review_appearance         0
review_profilename      348
beer_style                0
review_palate             0
review_taste              0
beer_name                 0
beer_abv              67785
beer_beerid               0
dtype: int64

In [8]:
### Exmine How many row has missing brewy names
brew_name_null = train_df[train_df['brewery_name'].isnull()]
brew_name_null
## 15 rows missing for brewy-names 1193 x 9 and 27 X 6

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
651565,1193,NaN,1301022066,2.0,2.5,2.5,Knapp85,Vienna Lager,1.5,1.5,Engel Tyrolian Br√§u WRONG BREWERY SEE SCHWABIS...,5.0,67503
659293,1193,NaN,1290107698,4.0,4.5,3.5,dqrull,Bock,4.0,3.5,Engel Bock Dunkel WRONG BREWERY SEE CRAILSHEIMER,7.2,63658
659299,1193,NaN,1289077001,3.5,3.0,3.0,dqrull,Dortmunder / Export Lager,4.0,4.0,Engel Gold WRONG BREWERY SEE CRAILSHEIMER,5.4,63215
659300,1193,NaN,1289851033,3.5,4.0,3.5,dqrull,Munich Helles Lager,3.5,3.0,Engel Landbier WRONG BREWERY SEE CRAILSHEIMER,4.8,63557
659301,1193,NaN,1289158632,3.5,4.0,4.0,dqrull,Keller Bier / Zwickel Bier,4.0,3.5,Engel Keller Hell WRONG BREWERY SEE CRAILSHEIMER,5.4,63256
659302,1193,NaN,1289590065,3.5,4.0,3.0,dqrull,Vienna Lager,3.0,3.5,Engel Aloisius - WRONG BREWERY SEE CRAILSHEIMER,5.9,63459
659303,1193,NaN,1298078926,3.0,3.0,3.0,Ochsenblut,Keller Bier / Zwickel Bier,2.0,3.0,Engel Keller Dunkel WRONG BREWERY SEE CRAILSH...,5.3,63324
659304,1193,NaN,1292423271,4.5,4.0,4.0,Dentist666,Keller Bier / Zwickel Bier,4.0,4.5,Engel Keller Dunkel WRONG BREWERY SEE CRAILSH...,5.3,63324
659305,1193,NaN,1289329962,3.5,3.5,4.0,dqrull,Keller Bier / Zwickel Bier,4.0,4.0,Engel Keller Dunkel WRONG BREWERY SEE CRAILSH...,5.3,63324
1391043,27,NaN,1020244856,3.5,3.5,3.5,Jason,American Adjunct Lager,4.0,3.5,Hard Hat American Beer,3.8,60
1391049,27,NaN,1143182956,2.5,2.0,2.0,BeerBob,American Malt Liquor,2.0,2.0,Side Pocket,8.5,3394
1391050,27,NaN,1117963232,1.5,1.5,2.0,feloniousmonk,American Malt Liquor,1.5,1.5,Side Pocket,8.5,3394
1391051,27,NaN,1323314674,4.5,4.5,3.5,ccrida,American IPA,4.5,4.5,Breakaway IPA,7.2,75135
1391052,27,NaN,1320989774,3.5,4.0,3.5,Docer,American IPA,4.0,4.0,Breakaway IPA,7.2,75135
1391053,27,NaN,1320995408,5.0,4.5,4.0,Docer,American Stout,4.5,4.5,Caboose Oatmeal Stout,7.0,75137

In [9]:
### Drop the rows if "brewy_name" is NULL
### Select only non-null value of brewry_name
df_cleaned = train_df.copy()
df_cleaned = df_cleaned[df_cleaned['brewery_name'].notnull()]
df_cleaned.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [10]:
#df_cleaned = train_df.copy()
col_to_drop = ['beer_beerid', 'brewery_id', "review_profilename", "beer_name"]
target_column = 'beer_style'

df_cleaned = df_cleaned.drop(col_to_drop, axis = 1)

#df_cleaned.head()
df_cleaned.isna().sum()

brewery_name             0
review_time              0
review_overall           0
review_aroma             0
review_appearance        0
beer_style               0
review_palate            0
review_taste             0
beer_abv             67785
dtype: int64

In [47]:
df_cleaned.describe()

,review_time,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv
count,1.586599e+06,1.586599e+06,1.586599e+06,1.586599e+06,1.586599e+06,1.586599e+06,1.518814e+06
mean,1.224089e+09,3.815584e+00,3.735638e+00,3.841647e+00,3.743705e+00,3.792864e+00,7.042396e+00
std,7.654410e+07,7.206191e-01,6.976142e-01,6.160899e-01,6.822131e-01,7.319658e-01,2.322532e+00
min,8.406720e+08,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e-02
25%,1.173224e+09,3.500000e+00,3.500000e+00,3.500000e+00,3.500000e+00,3.500000e+00,5.200000e+00
50%,1.239202e+09,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,6.500000e+00
75%,1.288568e+09,4.500000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.500000e+00,8.500000e+00
max,1.326285e+09,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.770000e+01

### Label Encoding to Target Column

In [11]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df_cleaned['beer_style_encoded'] = le.fit_transform(df_cleaned['beer_style'])


# df_cleaned['brewery_name_encoded'] = le.fit_transform(df_cleaned['brewery_name'])
# df_cleaned.head()

In [15]:
df_cleaned['beer_style_encoded'].value_counts().reset_index()

     index  beer_style_encoded
0       12              117584
1        9               85977
2       14               63469
3       89               54129
4       11               50705
..     ...                 ...
99      62                 686
100     56                 609
101     88                 466
102     72                 297
103     64                 241

[104 rows x 2 columns]

### Drop the Beer_Style column

In [12]:
beer_style = df_cleaned.pop('beer_style')
#brewery_name = df_cleaned.pop('brewery_name')
df_cleaned.head()

,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv,beer_style_encoded
0,Vecchio Birraio,1234817823,1.5,2.0,2.5,1.5,1.5,5.0,65
1,Vecchio Birraio,1235915097,3.0,2.5,3.0,3.0,3.0,6.2,51
2,Vecchio Birraio,1235916604,3.0,2.5,3.0,3.0,3.0,6.5,59
3,Vecchio Birraio,1234725145,3.0,3.0,3.5,2.5,3.0,5.0,61
4,Caldera Brewing Company,1293735206,4.0,4.5,4.0,4.0,4.5,7.7,9

In [18]:
#df_cleaned['brewery_name_encoded'].value_counts().reset_index()
#np.unique(df_cleaned[['brewery_name_encoded']])

In [13]:
from src.data.sets import split_sets_random, save_sets, load_sets, subset_x_y

#target_column_new = 'beer_style_encoded'
features = ["review_time", "review_overall", "review_aroma","review_appearance", "review_palate", "review_taste", "beer_abv" , "brewery_name"]
# X_train, y_train, X_val, y_val, X_test, y_test = split_sets_random(df_cleaned, target_column_new, test_ratio=0.4, to_numpy=False)
# save_sets(X_train, y_train, X_val, y_val, X_test, y_test)

y_main, X_main = subset_x_y(df_cleaned[features], df_cleaned['beer_style_encoded'], 0, 200000)

# y_val, X_val = subset_x_y(df_cleaned[features], df_cleaned['beer_style_encoded'], 100000, 200000)
# y_test, X_test = subset_x_y(df_cleaned[features], df_cleaned['beer_style_encoded'], 200000, 300000)

In [27]:
#len(X_train[0])
y_main

0         65
1         51
2         59
3         61
4          9
          ..
199995    60
199996    60
199997    60
199998    60
199999    60
Name: beer_style_encoded, Length: 200000, dtype: int32

### Scaling

In [18]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
num_cols = ['review_time', 'review_overall', 'review_aroma', 'review_appearance', 'review_palate', 'review_taste', 'beer_abv']

X_main_copy = X_main.copy()

In [20]:
 X_main_copy

,review_time,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv,brewery_name
0,1234817823,1.5,2.0,2.5,1.5,1.5,5.0,Vecchio Birraio
1,1235915097,3.0,2.5,3.0,3.0,3.0,6.2,Vecchio Birraio
2,1235916604,3.0,2.5,3.0,3.0,3.0,6.5,Vecchio Birraio
3,1234725145,3.0,3.0,3.5,2.5,3.0,5.0,Vecchio Birraio
4,1293735206,4.0,4.5,4.0,4.0,4.5,7.7,Caldera Brewing Company
...,...,...,...,...,...,...,...,...
199995,1039879760,2.0,4.5,3.5,2.5,2.5,6.5,New Belgium Brewing
199996,1036254424,4.5,4.0,4.5,4.0,4.0,6.5,New Belgium Brewing
199997,1035467862,4.0,4.0,4.5,3.5,4.0,6.5,New Belgium Brewing
199998,1035234867,4.5,5.0,5.0,4.5,4.5,6.5,New Belgium Brewing
199999,1034954865,4.0,4.5,4.0,4.0,4.5,6.5,New Belgium Brewing

In [32]:
X_main_copy[num_cols] = sc.fit_transform(X_main_copy[num_cols])
X_main_scaled = X_main_copy.copy()

In [33]:
###### AFTER SCALING #####
X_main_scaled['beer_style'] = y_main

In [34]:
X_main_scaled

,review_time,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv,brewery_name,beer_style
0,0.010538,-3.415087,-2.681870,-2.343407,-3.511963,-3.362068,-1.030044,Vecchio Birraio,65
1,0.025626,-1.251003,-1.940711,-1.500041,-1.228480,-1.228070,-0.497806,Vecchio Birraio,51
2,0.025647,-1.251003,-1.940711,-1.500041,-1.228480,-1.228070,-0.364746,Vecchio Birraio,59
3,0.009264,-1.251003,-1.199551,-0.656674,-1.989641,-1.228070,-1.030044,Vecchio Birraio,61
4,0.820686,0.191720,1.023926,0.186692,0.293842,0.905928,0.167493,Caldera Brewing Company,9
...,...,...,...,...,...,...,...,...,...
199995,-2.669971,-2.693725,1.023926,-0.656674,-1.989641,-1.939402,-0.364746,New Belgium Brewing,60
199996,-2.719821,0.913081,0.282767,1.030058,0.293842,0.194596,-0.364746,New Belgium Brewing,60
199997,-2.730637,0.191720,0.282767,1.030058,-0.467319,0.194596,-0.364746,New Belgium Brewing,60
199998,-2.733841,0.913081,1.765086,1.873424,1.055003,0.905928,-0.364746,New Belgium Brewing,60
199999,-2.737691,0.191720,1.023926,0.186692,0.293842,0.905928,-0.364746,New Belgium Brewing,60

### One Hot Encoding

In [35]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse=False)

X_main_cat_enc = pd.DataFrame(ohe.fit_transform(X_main_scaled[['brewery_name']]))
X_main_cat_enc.columns = ohe.get_feature_names(['brewery_name'])

X_main_scaled.drop('brewery_name', axis = 1, inplace=True)
X_main_scaled_encoded = pd.concat([X_main_scaled, X_main_cat_enc], axis=1)
X_main_scaled_encoded


# X_train_cat_enc

,review_time,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv,beer_style,brewery_name_10 Barrel Brewing Co.,brewery_name_16 Mile Brewing Company,...,brewery_name_Yellow Rose Brewing Company,brewery_name_Yellowhammer Brewing,brewery_name_Yellowstone Valley Brewing Co.,brewery_name_Zago S.r.l.,brewery_name_Zak&#322;ady Piwowarskie w Le&#380;ajsku S.A.,brewery_name_Zerodegrees Bristol,brewery_name_Zum L√∂wenbr√§u,brewery_name_Zum Stiefel,brewery_name_Zweite Schweriner Schlossbrauerei,brewery_name_√ñlger√∞ Reykjav√≠kur
0,0.010538,-3.415087,-2.681870,-2.343407,-3.511963,-3.362068,-1.030044,65,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.025626,-1.251003,-1.940711,-1.500041,-1.228480,-1.228070,-0.497806,51,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.025647,-1.251003,-1.940711,-1.500041,-1.228480,-1.228070,-0.364746,59,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.009264,-1.251003,-1.199551,-0.656674,-1.989641,-1.228070,-1.030044,61,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.820686,0.191720,1.023926,0.186692,0.293842,0.905928,0.167493,9,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,-2.669971,-2.693725,1.023926,-0.656674,-1.989641,-1.939402,-0.364746,60,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
199996,-2.719821,0.913081,0.282767,1.030058,0.293842,0.194596,-0.364746,60,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
199997,-2.730637,0.191720,0.282767,1.030058,-0.467319,0.194596,-0.364746,60,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
199998,-2.733841,0.913081,1.765086,1.873424,1.055003,0.905928,-0.364746,60,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
199999,-2.737691,0.191720,1.023926,0.186692,0.293842,0.905928,-0.364746,60,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
X_train, y_train, X_val, y_val, X_test, y_test = split_sets_random(X_main_scaled_encoded, "beer_style", test_ratio=0.2, to_numpy=False)

### Load Pytorch Dataset

In [45]:
from src.models.pytorch import PytorchDataset

train_dataset = PytorchDataset(X=X_train, y=y_train)
val_dataset = PytorchDataset(X=X_val, y=y_val)
test_dataset = PytorchDataset(X=X_test, y=y_test)

In [46]:
print(X_train.shape)
print(X_val.shape)
print(X_test.shape)

(120000, 772)
(40000, 772)
(40000, 772)

### Baseline Model

In [47]:
from src.models.null import NullModel

base_model = NullModel(target_type="classification")
y_base = base_model.fit_predict(y_train)
y_base

array([[12],
       [12],
       [12],
       ...,
       [12],
       [12],
       [12]])

In [48]:
from src.models.performance import print_reg_perf
print_reg_perf(y_base, y_train, set_name='Training')

RMSE Training: 1586.89245
MAE Training: 26.471083333333333

In [74]:
import torch
import torch.nn as nn
from src.models.pytorch import PytorchMultiClass
import torch.nn.functional as F
%load_ext autoreload
%autoreload 2

model = PytorchMultiClass(X_train.shape[1])

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [78]:
from src.models.pytorch import get_device
device = get_device()
model.to(device)

PytorchMultiClass(
  (layer_1): Linear(in_features=772, out_features=70, bias=True)
  (layer_2): Linear(in_features=70, out_features=70, bias=True)
  (layer_out): Linear(in_features=70, out_features=104, bias=True)
  (softmax): Softmax(dim=1)
)

In [79]:
criterion = nn.CrossEntropyLoss()
optimizer = torch.optim.Adam(model.parameters(), lr=0.1)

In [80]:
from src.models.pytorch import train_classification, test_classification

N_EPOCHS = 10
BATCH_SIZE = 100

for epoch in range(N_EPOCHS):
    train_loss, train_acc = train_classification(train_dataset, model=model, criterion=criterion, optimizer=optimizer, batch_size=BATCH_SIZE, device=device)
    valid_loss, valid_acc = test_classification(val_dataset, model=model, criterion=criterion, batch_size=BATCH_SIZE, device=device)

    print(f'Epoch: {epoch}')
    print(f'\t(train)\t|\tLoss: {train_loss:.4f}\t|\tAcc: {train_acc * 100:.1f}%')
    print(f'\t(valid)\t|\tLoss: {valid_loss:.4f}\t|\tAcc: {valid_acc * 100:.1f}%')

Epoch: 0
	(train)	|	Loss: nan	|	Acc: 0.8%
	(valid)	|	Loss: nan	|	Acc: 0.8%
Epoch: 1
	(train)	|	Loss: nan	|	Acc: 0.8%
	(valid)	|	Loss: nan	|	Acc: 0.8%
Epoch: 2
	(train)	|	Loss: nan	|	Acc: 0.8%
	(valid)	|	Loss: nan	|	Acc: 0.8%
Epoch: 3
	(train)	|	Loss: nan	|	Acc: 0.8%
	(valid)	|	Loss: nan	|	Acc: 0.8%
Epoch: 4
	(train)	|	Loss: nan	|	Acc: 0.8%
	(valid)	|	Loss: nan	|	Acc: 0.8%
Epoch: 5
	(train)	|	Loss: nan	|	Acc: 0.8%
	(valid)	|	Loss: nan	|	Acc: 0.8%
Epoch: 6
	(train)	|	Loss: nan	|	Acc: 0.8%
	(valid)	|	Loss: nan	|	Acc: 0.8%
Epoch: 7
	(train)	|	Loss: nan	|	Acc: 0.8%
	(valid)	|	Loss: nan	|	Acc: 0.8%
Epoch: 8
	(train)	|	Loss: nan	|	Acc: 0.8%
	(valid)	|	Loss: nan	|	Acc: 0.8%
Epoch: 9
	(train)	|	Loss: nan	|	Acc: 0.8%
	(valid)	|	Loss: nan	|	Acc: 0.8%

In [56]:
test_loss, test_acc =  test_classification(test_dataset, model=model, criterion=criterion, batch_size=BATCH_SIZE, device=device)
print(f'\tLoss: {test_loss:4f}\t | \tAccuracy:{test_acc:.1f}')

	Loss:  nan	 | 	Accuracy:0.0